@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

*{
  box-sizing:border-box;
}
html,body{
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Open Sans';
}
body{
  transition: all 1s linear;
}

#voteChartLegend {
  float: left;
  margin-left: 10%;
  text-align: left;
  width: 15%;
}

#voteChartContainer {
  width: 50%;
}
