{% from "_helpers.html" import link_to %}
{% from "bootstrap/wtf.html" import quick_form %}
{% from "bootstrap/utils.html" import flashed_messages %}
{% extends "bootstrap/base.html" %}
{% block title %}Test app{% endblock %}


{% block content %}
<div id="content-container">
    <div id="content-container-center">
        {{ flashed_messages() }}
        {% block child_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block styles %}
{{super()}}
<link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}"/>
{% endblock %}


<!--<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>-->