@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

html, body {
  margin: 0;
  padding: 0;
  background-color: #F7F8F9;
  font-family: 'Open Sans';
  box-sizing: border-box;
}

button[type="submit"] {
  -webkit-appearance: none; 
  -webkit-border-radius: 0;
}

button .fa-check-circle {
  position: absolute;
  top: -10px;
  right: -4px;
  color: #FF992E;
  opacity: 0.95;
  font-size: 32px;
}

button.c1 {
  background-color: #1aaaf8;
}

button.c2 {
  background-color: #00cbca;
}

a {
  text-decoration: none;
  color: #254356;
}

#content-container {
  margin: 0 auto;
  display: table;
  padding: 10px;
  max-width: 760px;
  height: 100vh;
  text-align: center;
}

#content-container-center h3 {
  color: #254356;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}

.docker-icon {
  width: 250px;
}

#choice {
  transition: all 300ms linear;
  display: block;
  vertical-align: middle;
}

#choice a:hover, #choice a:focus {
  outline: 0;
  text-decoration: underline;
}

#choice button {
  position: relative;
  width: 45%;
  max-width: 275px;
  height: 80px;
  border: none;
  color: white;
  margin: 10px 5px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

#choice button.c1:hover {
  background-color: #1488c6;
}

#choice button.c2:hover {
  background-color: #00a2a1;
}

#choice button.c1:focus {
  background-color: #1488c6;
}

#choice button.c2:focus {
  background-color: #00a2a1;
}

#tip {
  text-align: center;
  color: #c0c9ce;
  font-size: 14px;
}

#hostname {
  color: #8f9ea8;
  font-size: 14px;
  margin-top: 20px;
}

#hostname .docker-icon {
  width: 65px;
  vertical-align: middle;
}